<!-- Header v1 -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
              data-header-fix-moment="100">
        <div class="u-header__section g-bg-white-opacity-0_7 g-transition-0_3 g-py-15"
             data-header-fix-moment-exclude="g-bg-white-opacity-0_7"
             data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
          <nav class="navbar navbar-toggleable-md py-0">
            <div class="container">
              <!-- Logo -->
              <a href="/#" class="navbar-brand u-header__logo g-width-130 g-mr-45">
                <img class="img-fluid u-header__logo-img u-header__logo-img--main" src="/local_assets/img/logo.png" alt="Image Description">
              </a>
              <!-- End Logo -->
              
              <div id="navBar" class="collapse navbar-collapse w-100">

                <div class="navbar-collapse align-items-center flex-sm-row">

                </div>
                <!-- Navigation -->
                <div class="js-mega-menu  navbar-collapse align-items-center flex-sm-row">
                  <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
                    <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#home" class="nav-link p-0">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg hs-has-sub-menu">
                      <a href="#" class="nav-link p-0" id="nav-link-1"
                         aria-haspopup="true"
                         aria-expanded="false"
                         aria-controls="nav-submenu-1"
                      >留学</a>

                      <!-- Submenu -->
                      <ul class="hs-sub-menu list-unstyled g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-mt-20 g-mt-10--lg--scrolling g-bg-white-opacity-0_6" id="nav-submenu-1"
                          aria-labelledby="nav-link-1"
                          >
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/study/sfu">Page 1</a></li>
                        <li class="dropdown-item hs-has-sub-menu">
                          <a id="nav-link-2" class="nav-link g-px-0" href="#"
                             aria-haspopup="true"
                             aria-expanded="false"
                             aria-controls="nav-submenu-2"
                          >Page 2</a>

                          <!-- Submenu (level 2) -->
                          <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-my-2 g-bg-white-opacity-0_6" id="nav-submenu-2"
                              aria-labelledby="nav-link-2">
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-1</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-2</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-3</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-4</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-5</a></li>
                          </ul>
                          <!-- End Submenu (level 2) -->
                        </li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 3</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 4</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 5</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 6</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 7</a></li>
                      </ul>
                      <!-- End Submenu -->
                    </li>

                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg hs-has-sub-menu">
                      <a href="#" class="nav-link p-0" id="nav-link-1"
                         aria-haspopup="true"
                         aria-expanded="false"
                         aria-controls="nav-submenu-1"
                      >签证</a>

                      <!-- Submenu -->
                      <ul class="hs-sub-menu list-unstyled g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-mt-20 g-mt-10--lg--scrolling g-bg-white-opacity-0_6" id="nav-submenu-1"
                          aria-labelledby="nav-link-1"
                          >
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/a">学习签证/续签</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/b">学习许可证(study permit)</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/c">旅游签转学签</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/d">探亲／旅游签证</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/e">超级签证</a></li>
                        <li class="dropdown-item hs-has-sub-menu">
                          <a id="nav-link-2" class="nav-link g-px-0" href="#"
                             aria-haspopup="true"
                             aria-expanded="false"
                             aria-controls="nav-submenu-2"
                          >工作签证</a>

                          <!-- Submenu (level 2) -->
                          <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-my-2 g-bg-white-opacity-0_6" id="nav-submenu-2"
                              aria-labelledby="nav-link-2">
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/f1">毕业工签</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/f2">实习工签</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/f3">Briding 工作签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/f4">陪工／陪读工作签证</a></li>
                          </ul>
                          <!-- End Submenu (level 2) -->
                        </li>

                        <li class="dropdown-item hs-has-sub-menu">
                          <a id="nav-link-2" class="nav-link g-px-0" href="#"
                             aria-haspopup="true"
                             aria-expanded="false"
                             aria-controls="nav-submenu-2"
                          >各国签证</a>

                          <!-- Submenu (level 2) -->
                          <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-my-2 g-bg-white-opacity-0_6" id="nav-submenu-2"
                              aria-labelledby="nav-link-2">
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g1">美国旅游签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g2">欧洲申根签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g3">英国签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g4">澳洲签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g5">新西兰签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g6">日本签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g7">韩国签证</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/visa/g8">俄罗斯签证</a></li>
                          </ul>
                          <!-- End Submenu (level 2) -->
                        </li>

                      </ul>
                      <!-- End Submenu -->
                    </li>

                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg hs-has-sub-menu">
                      <a href="#" class="nav-link p-0" id="nav-link-1"
                         aria-haspopup="true"
                         aria-expanded="false"
                         aria-controls="nav-submenu-1"
                      >移民</a>

                      <!-- Submenu -->
                      <ul class="hs-sub-menu list-unstyled g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-mt-20 g-mt-10--lg--scrolling g-bg-white-opacity-0_6" id="nav-submenu-1"
                          aria-labelledby="nav-link-1">

                        <li class="dropdown-item hs-has-sub-menu">
                          <a id="nav-link-2" class="nav-link g-px-0" href="#"
                             aria-haspopup="true"
                             aria-expanded="false"
                             aria-controls="nav-submenu-2"
                          >家庭团聚移民</a>

                          <!-- Submenu (level 2) -->
                          <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-my-2 g-bg-white-opacity-0_6" id="nav-submenu-2"
                              aria-labelledby="nav-link-2">
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/a1">父母及祖父母团聚</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/a2">夫妻团聚</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/a3">子女团聚</a></li>
                          </ul>
                          <!-- End Submenu (level 2) -->
                        </li>

                        <li class="dropdown-item hs-has-sub-menu">
                          <a id="nav-link-2" class="nav-link g-px-0" href="#"
                             aria-haspopup="true"
                             aria-expanded="false"
                             aria-controls="nav-submenu-2"
                          >技术类移民</a>

                          <!-- Submenu (level 2) -->
                          <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-my-2 g-bg-white-opacity-0_6" id="nav-submenu-2"
                              aria-labelledby="nav-link-2">
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/b1">BC PNP省提名（适用于境内和海外人群）</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/b2">加拿大移民快速通道—Express Entry</a></li>
                          </ul>
                          <!-- End Submenu (level 2) -->
                        </li>

                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/c">投资类移民</a></li>
                        
                        <li class="dropdown-item hs-has-sub-menu">
                          <a id="nav-link-2" class="nav-link g-px-0" href="#"
                             aria-haspopup="true"
                             aria-expanded="false"
                             aria-controls="nav-submenu-2"
                          >其他服务</a>

                          <!-- Submenu (level 2) -->
                          <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-my-2 g-bg-white-opacity-0_6" id="nav-submenu-2"
                              aria-labelledby="nav-link-2">
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/d1">枫叶卡续期/补办</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/d2">入籍申请服务 （等待新政更新）</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="/immigration/d3">登录纸补办</a></li>
                          </ul>
                          <!-- End Submenu (level 2) -->
                        </li>

                      </ul>
                      <!-- End Submenu -->
                    </li>

                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#about" class="nav-link p-0">关于迈成</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#partners" class="nav-link p-0">合作院校</a>
                    </li>
                    <li class="nav-item g-ml-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#contact" class="nav-link p-0">联系我们</a>
                    </li>
                  </ul>
                </div>
                <!-- End Navigation -->
                

                <!-- <a class="btn btn-lg text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-rounded-30 g-px-40 g-py-15 mb-0" href="#">Login</a> -->
              </div>

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-mt-15 ml-auto" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header v1 -->