<head>
    <!-- Title -->
    <title>迈成国际 Maichen | 加拿大留学、培训、移民、签证</title>
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="迈成国际(Maichen)总部设立在加拿大温哥华本土，本拿比市中心地带。是加拿大BC省注册的留学，培训与移民的咨询服务公司，专业提供留学，培训，移民，签证办理等服务。迈成国际由多名ICCRC持牌资深移民顾问和经验丰富的文案团队组成。我们的教育团队都是研究生毕业的高材生，团队成员有硕士以上计算机，电子，机械和社科的相关学位，在我们资深教育团队的带领下，为学生提供和量身定做的英语补习课程，以及针对中学，大学的课程辅导。">


    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/global_assets/vendor/bootstrap/bootstrap.min.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/global_assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/global_assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/animate.css">
    <link rel="stylesheet" href="/global_assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/global_assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-hs/style.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/global_assets/css/unify.css">
    
    <!-- CSS Template -->
    <link rel="stylesheet" href="/local_assets/css/styles.op-accounting.css">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/global_assets/css/custom.css">
  </head>