<head>
    <!-- Title -->
    <title>迈成 Maichen | 加拿大留学移民签证</title>
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW, ARCHIVE" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/global_assets/vendor/bootstrap/bootstrap.min.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/global_assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/global_assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/animate.css">
    <link rel="stylesheet" href="/global_assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/global_assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-hs/style.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/global_assets/css/unify.css">
    
    <!-- CSS Template -->
    <link rel="stylesheet" href="/local_assets/css/styles.op-accounting.css">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/global_assets/css/custom.css">
  </head>