<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>迈成 Maichen | 加拿大留学移民签证</title>
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/global_assets/vendor/bootstrap/bootstrap.min.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/global_assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/global_assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/animate.css">
    <link rel="stylesheet" href="/global_assets/vendor/slick-carousel/slick/slick.css">
    
    <!-- CSS Unify -->
    <link rel="stylesheet" href="/global_assets/css/unify.css">
    
    <!-- CSS Template -->
    <link rel="stylesheet" href="/local_assets/css/styles.op-accounting.css">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/global_assets/css/custom.css">
  </head>
  
  <body>
    <main>
      <!-- Header v1 -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
              data-header-fix-moment="100">
        <div class="u-header__section g-bg-white-opacity-0_7 g-transition-0_3 g-py-15"
             data-header-fix-moment-exclude="g-bg-white-opacity-0_7"
             data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
          <nav class="navbar navbar-toggleable-md py-0">
            <div class="container">
              <!-- Logo -->
              <a href="#" class="navbar-brand u-header__logo g-width-130 g-mr-45">
                <img class="img-fluid u-header__logo-img u-header__logo-img--main" src="/local_assets/img/logo.png" alt="Image Description">
              </a>
              <!-- End Logo -->
              
              <div id="navBar" class="collapse navbar-collapse w-100">

                <div class="navbar-collapse align-items-center flex-sm-row">

                </div>
                <!-- Navigation -->
                <div class="navbar-collapse align-items-center flex-sm-row">
                  <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
                    <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#home" class="nav-link p-0">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="study" class="nav-link p-0">留学</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="visa" class="nav-link p-0">签证</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="immigration" class="nav-link p-0">移民</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#about" class="nav-link p-0">关于迈成</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#bestOffers" class="nav-link p-0">促销</a>
                    </li>
                    <li class="nav-item g-ml-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#contact" class="nav-link p-0">联系我们</a>
                    </li>
                  </ul>
                </div>
                <!-- End Navigation -->
                

                <!-- <a class="btn btn-lg text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-rounded-30 g-px-40 g-py-15 mb-0" href="#">Login</a> -->
              </div>

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-mt-15 ml-auto" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header v1 -->
      
      <!-- Main Banner -->
      <section id="home" class="js-carousel g-overflow-hidden g-max-height-100vh"
               data-autoplay="1"
               data-infinite="1"
               data-pagi-classes="u-carousel-indicators-v29 container text-center text-uppercase g-absolute-centered--x g-bottom-50 g-line-height-1_2 g-font-weight-600 g-font-size-11 g-color-white g-brd-white-opacity-0_2">
        <div class="js-slide"
             data-title="关于迈成">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(assets/img-temp/1900x1265/img1.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20">我们提供最
                <span class="g-color-primary">专业</span> 和
                <span class="g-color-primary">便捷</span> 的 <span class="g-color-primary">留学</span>、<span class="g-color-primary">移民</span>、<span class="g-color-primary">签证</span>服务
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">迈成成立于哪年哪年然后简短的介绍有多牛逼</p>
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
        
        <div class="js-slide"
             data-title="留学">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(assets/img-temp/1900x1265/img2.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20">我们服务高中申请、大学申请、研究生申请
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">简短介绍</p>
              <a class="btn btn-lg u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 g-px-25 g-py-15" href="#">View Presentation</a>
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
        
        <div class="js-slide"
             data-title="签证">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(assets/img-temp/1900x1265/img3.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20">最快的签证服务
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">最棒的签证服务</p>
              
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
        
        <div class="js-slide"
             data-title="移民">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(assets/img-temp/1900x1265/img4.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20">最棒的移民服务
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">最棒的移民服务</p>
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
      </section>
      <!-- End Main Banner -->
      
      <!-- Section Content -->
      <section id="about">
        <div class="container-fluid">
          <div class="row text-center text-md-left">
            <div class="col-lg-4 g-theme-bg-gray-dark-v1 px-0">
              <img class="img-fluid" src="/local_assets/img-temp/800x869/img1.jpg" alt="Image description">
              
              <div class="g-py-50 g-px-15 g-pa-50--md">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">关于迈成</h3>
                <p class="mb-0">我们成立于2006年，拥有11年留学移民经验</p>
              </div>
            </div>
            
            <div class="col-md-6 col-lg-4 g-flex-centered g-theme-bg-gray-light-v2 px-0">
              <div class="g-py-50 g-px-15 g-pa-50--md">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-mb-30">我们是最专业的服务</h2>
                <p class="g-mb-30"><span class="g-color-primary">留学</span>：我们提供一对一的留学咨询服务，量身定做你的留学计划</p>
                <p class="g-mb-30"><span class="g-color-primary">签证</span>：我们提供一对一的留学咨询服务，量身定做你的留学计划</p>
                <p><span class="g-color-primary">移民</span>：我们帮助你寻找雇主，blabla</p>
              </div>
            </div>
            
            <div class="col-md-6 col-lg-4 g-theme-bg-gray-dark-v1 px-0">
              <div class="g-theme-bg-gray-dark-v4--hover g-brd-bottom g-theme-brd-gray-dark-v2 g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">专业的团队</h3>
                <p class="mb-0">我们团队拥有15年留学移民经验，服务上万学生、家长</p>
              </div>
              
              <div class="g-theme-bg-gray-dark-v4--hover g-brd-bottom g-theme-brd-gray-dark-v2 g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">最好的方案</h3>
                <p class="mb-0">我们针对不同学生提供量身定做的方案</p>
              </div>
              
              <div class="g-theme-bg-gray-dark-v4--hover g-brd-bottom g-theme-brd-gray-dark-v2 g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">最快处理速度</h3>
                <p class="mb-0">我们拥有最高效的处理速度，最全的电子管理系统，让你的申请不再积压在中介手中</p>
              </div>
              
              <div class="g-theme-bg-gray-dark-v4--hover g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">最贴心的服务</h3>
                <p class="mb-0">有任何疑问，我们会在第一时间解决你的困扰</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      
      <!-- Clients -->
      <section class="text-center g-py-90">
        <div class="text-center g-mb-60">
          <div class="container g-max-width-770">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-black g-mb-30">我们的合作伙伴</h2>
            
            <p class="mb-0">我们拥有BC最全的合作学校，给您最多的选择</p>
          </div>
        </div>

        <div class="container">
          <div class="row g-brd-top g-brd-left g-theme-brd-gray-light-v1 mx-0">
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img1.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img2.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img3.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img4.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img5.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img6.png" alt="Image Description">
            </div>
          </div>
        </div>
      </section>
      <!-- End Clients -->
      
      <!-- Pricing Blocks -->
      <section id="bestOffers" class="g-theme-bg-gray-dark-v1 g-py-90">
        <div class="text-center g-mb-60">
          <div class="container g-max-width-770">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-white g-mb-30">促销活动</h2>
            
            <p class="mb-0">为了反馈新老客户，我们不定期推出不同的促销活动</p>
          </div>
        </div>
        
        <div class="container">
          <div class="g-mx-minus-15">
            <div id="carouselCus1" class="js-carousel text-center g-pb-50"
                 data-infinite="1"
                 data-slides-show="4"
                 data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-0">
              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">小签</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">$50.00
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20">30天处理</li>
                      <li class="g-mb-20">财产证明</li>
                      <li class="g-mb-20">学习证明</li>
                      <li class="g-mb-20">婚姻证明</li>
                      <li class="g-mb-20">bla</li>
                    </ul>
                    <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#">更多信息</a>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>
              
              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">小签</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">$50.00
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20">30天处理</li>
                      <li class="g-mb-20">财产证明</li>
                      <li class="g-mb-20">学习证明</li>
                      <li class="g-mb-20">婚姻证明</li>
                      <li class="g-mb-20">bla</li>
                    </ul>
                    <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#">更多信息</a>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>

              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">小签</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">$50.00
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20">30天处理</li>
                      <li class="g-mb-20">财产证明</li>
                      <li class="g-mb-20">学习证明</li>
                      <li class="g-mb-20">婚姻证明</li>
                      <li class="g-mb-20">bla</li>
                    </ul>
                    <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#">更多信息</a>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>

              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">小签</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">$50.00
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20">30天处理</li>
                      <li class="g-mb-20">财产证明</li>
                      <li class="g-mb-20">学习证明</li>
                      <li class="g-mb-20">婚姻证明</li>
                      <li class="g-mb-20">bla</li>
                    </ul>
                    <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#">更多信息</a>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Blocks -->

      <!-- Section Content -->
      <section id="contact" class="text-center g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">联系我们</h2>
            <p class="mb-0">我们会在第一时间解决你的问题，随时联系我们</p>
          </div>
        </div>

        <div class="container-fluid">
          <address class="row g-color-gray-dark-v4 mb-0">
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-map d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">地址</h3>
              <strong class="g-font-size-16 g-color-black">#207 221 Seventh<br> Burnaby <br> BC </strong>
            </div>
            
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-screen-smartphone d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">微信</h3>
              <strong class="g-font-size-16 g-color-black">maichen</strong>
            </div>
            
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-envelope-letter d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Email</h3>
              <a class="g-font-size-16 g-color-black" href="mailto:info@htmlstream.com"><strong>info@maichen.com</strong></a>
            </div>
            
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-call-in d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">电话</h3>
              <strong class="g-font-size-16 g-color-black">778 681 1568</strong>
            </div>
          </address>
        </div>

      </section>
      <!-- End Section Content -->
      
      <footer>
        <div class="g-color-gray-dark-v5 g-theme-bg-gray-dark-v3">
          <div class="container">
            
            <div class="text-center text-md-left g-brd-top g-brd-gray-dark-v2 g-py-40">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center g-mb-15 g-mb-0--md">
                  <p class="w-100 mb-0">
                    2017 All right reserved. Development by Maichen
                  </p>
                </div>
                
                <div class="col-md-6">
                  <ul class="list-inline float-md-right mb-0">
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-dark-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-dark-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-dark-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
    
    <!-- JS Global Compulsory -->
    <script src="/global_assets/vendor/jquery/jquery.min.js"></script>
    <script src="/global_assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="/global_assets/vendor/tether.min.js"></script>
    <script src="/global_assets/vendor/bootstrap/bootstrap.min.js"></script>
    
    <!-- JS Implementing Plugins -->
    <script src="/global_assets/vendor/smoothScroll.js"></script>
    <script src="/global_assets/vendor/appear.js"></script>
    <script src="/global_assets/vendor/slick-carousel/slick/slick.js"></script>
    
    <!-- JS Unify -->
    <script src="/global_assets/js/hs.core.js"></script>
    <script src="/global_assets/js/components/hs.header.js"></script>
    <script src="/global_assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/global_assets/js/components/hs.scroll-nav.js"></script>
    <script src="/global_assets/js/helpers/hs.height-calc.js"></script>
    <script src="/global_assets/js/components/hs.carousel.js"></script>
    
    <!-- JS Customization -->
    <script src="/global_assets/js/custom.js"></script>
    
    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // Initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700,
          easing: 'easeOutExpo'
        });
        
        // Initialization of Hamburgers
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        
        // Initialization of HSHeader
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        $.HSCore.helpers.HSHeightCalc.init();
        
        // custom function
        $('#carousel5').on('click', '.js-thumb', function (e) {
          e.stopPropagation();
          //Variables
          var i;
          
          //Variables values
          i = $(this).data('slick-index');
          
          if ($('#carousel5').slick('slickCurrentSlide') !== i) {
            $('#carousel5').slick('slickGoTo', i);
          }
        });
        
        // Initialization of HSHeader component
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        // initialiation of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        
        $('#carouselCus1').slick('setOption', 'responsive', [{
          breakpoint: 1350,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 1200,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 670,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 500,
          settings: {
            slidesToShow: 1
          }
        }], true);
        
        $('#carousel5').slick('setOption', 'responsive', [{
          breakpoint: 768,
          settings: {
            slidesToShow: 3
          }
        }, {
          breakpoint: 554,
          settings: {
            slidesToShow: 1
          }
        }], true);
      });
    </script>
  </body>
</html>
