<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>迈成 Maichen | 加拿大留学移民签证</title>
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/global_assets/vendor/bootstrap/bootstrap.min.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/global_assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/global_assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/animate.css">
    <link rel="stylesheet" href="/global_assets/vendor/slick-carousel/slick/slick.css">
    
    <!-- CSS Unify -->
    <link rel="stylesheet" href="/global_assets/css/unify.css">
    
    <!-- CSS Template -->
    <link rel="stylesheet" href="/local_assets/css/styles.op-accounting.css">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/global_assets/css/custom.css">
  </head>
  
  <body>
    <main>
      <!-- Header v1 -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
              data-header-fix-moment="100">
        <div class="u-header__section g-bg-white-opacity-0_7 g-transition-0_3 g-py-15"
             data-header-fix-moment-exclude="g-bg-white-opacity-0_7"
             data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
          <nav class="navbar navbar-toggleable-md py-0">
            <div class="container">
              <!-- Logo -->
              <a href="#" class="navbar-brand u-header__logo g-width-130 g-mr-45">
                <img class="img-fluid u-header__logo-img u-header__logo-img--main" src="/local_assets/img/logo.png" alt="Image Description">
              </a>
              <!-- End Logo -->
              
              <div id="navBar" class="collapse navbar-collapse w-100">

                <div class="navbar-collapse align-items-center flex-sm-row">

                </div>
                <!-- Navigation -->
                <div class="navbar-collapse align-items-center flex-sm-row">
                  <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
                    <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#home" class="nav-link p-0">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="study" class="nav-link p-0">留学</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="visa" class="nav-link p-0">签证</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="immigration" class="nav-link p-0">移民</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#about" class="nav-link p-0">关于迈成</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#partners" class="nav-link p-0">合作院校</a>
                    </li>
                    <li class="nav-item g-ml-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#contact" class="nav-link p-0">联系我们</a>
                    </li>
                  </ul>
                </div>
                <!-- End Navigation -->
                

                <!-- <a class="btn btn-lg text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-rounded-30 g-px-40 g-py-15 mb-0" href="#">Login</a> -->
              </div>

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-mt-15 ml-auto" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header v1 -->
      
      <!-- Main Banner -->
      <section id="home" class="js-carousel g-overflow-hidden g-max-height-100vh"
               data-autoplay="1"
               data-infinite="1"
               data-pagi-classes="u-carousel-indicators-v29 container text-center text-uppercase g-absolute-centered--x g-bottom-50 g-line-height-1_2 g-font-weight-600 g-font-size-11 g-color-white g-brd-white-opacity-0_2">
        <div class="js-slide"
             data-title="关于迈成">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(/local_assets/material/vancouver-3.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20">我们提供最
                <span class="g-color-primary">专业</span> 和
                <span class="g-color-primary">便捷</span> 的 <span class="g-color-primary">留学</span>、<span class="g-color-primary">移民</span>、<span class="g-color-primary">签证</span>服务
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">迈成国际总部设立在加拿大温哥华本土，本拿比市中心地带。是加拿大BC省注册的留学，培训与移民的咨询服务公司，专业提供留学，培训，移民，签证办理等服务。迈成国际由多名ICCRC持牌资深移民顾问和经验丰富的文案团队组成。我们的教育团队都是研究生毕业的高材生，团队成员有硕士以上计算机，电子，机械和社科的相关学位，在我们资深教育团队的带领下，为学生提供和量身定做的英语补习课程，以及针对中学，大学的课程辅导。</p>
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
        
        <div class="js-slide"
             data-title="留学">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(/local_assets/material/study.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20"><span class="g-color-primary">高中</span>申请 美国<span class="g-color-primary">常春藤</span>院校申请 加拿大<span class="g-color-primary">名校</span>大学本科及研究生申请 <span class="g-color-primary">学院</span>申请
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">开启名校半自助留学时代，迈成助你拿到名校offer! <br> <br>
            想要拿到美国排名前100的名校和加拿大的名校offer吗？ 那就来找迈成吧。迈成教育团队都是研究生毕业的高材生，团队成员均有硕士以上计算机，电子，机械和社科的相关学位。迈成相信授之以鱼，不如授之以渔。我们不仅仅凭自己的专业经验帮您完成名校申请，还教授学生们最重要的留学软技能。
              </p>
              <!-- <a class="btn btn-lg u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase g-rounded-50 g-px-25 g-py-15" href="#">View Presentation</a> -->
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
        
        <div class="js-slide"
             data-title="签证">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(/local_assets/material/visa.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20"><span class="g-color-primary">签证</span>服务
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">我们提供最快捷并有效的签证服务，均由ICCRC注册移民顾问亲自代理的加拿大各类签证，包括留学生大小签证，毕业工签，配偶工签，陪读签证，探亲/旅游签证，超级签证；旅游签转学签，Bridging Open Work Permit；还提供全球各国的旅游签证申请：美国，欧洲，澳洲，日本，韩国，英国，俄罗斯，西班牙，意大利和新西兰等国家。</p>
              
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
        
        <div class="js-slide"
             data-title="移民">
          <!-- Promo Block -->
          <div class="g-flex-centered g-height-100vh g-min-height-500--md g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_5--after" style="background-image: url(/local_assets/material/immigration.jpg);">
            <div class="container text-center g-z-index-1">
              <h2 class="text-uppercase g-font-weight-700 g-font-size-22 g-font-size-36--md g-color-white g-mb-20"><span class="g-color-primary">移民</span>服务
              </h2>
              <p class="hidden-xs-down g-max-width-645 g-color-white-opacity-0_9 mx-auto g-mb-35">由ICCRC注册移民顾问带领的专业的移民团队，　擅长留学生转移民，移民快速通道，　各省提名移民以及各省投资移民项目
              团聚移民包括夫妻团聚，父母团聚和子女团聚。 <br> <br>
              留学生移民主要是技术类移民，包括BC省的PNP和联邦EE；我们还特别推出海外的技术类移民，这个适合具有多年高管经验和英文程度较高的海外申请者。 <br><br>
              魁省的PEQ项目针对的是在魁省获得CAQ后，在魁省完成相应时数学业的学生，进而申请工签，再申请省提名的移民项目。
              </p>
            </div>
          </div>
          <!-- End Promo Block -->
        </div>
      </section>
      <!-- End Main Banner -->
      
      <!-- Section Content -->
      <section id="about">
        <div class="container-fluid">
          <div class="row text-center text-md-left">
            <div class="col-lg-4 g-theme-bg-gray-dark-v1 px-0">
              <img class="img-fluid" src="/local_assets/material/about.jpg" alt="Image description">
              
               <div class="g-py-50 g-px-15 g-pa-50--md">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-mb-30 g-color-white">我们是最专业的服务</h2>
                <p class="g-mb-30"><span class="g-color-primary">最</span>负责的咨询和文案团队</p>
                <p class="g-mb-30"><span class="g-color-primary">最</span>最快速的申请处理速度</p>
                <p><span class="g-color-primary">最</span>贴心的后续服务</p>
              </div>

            </div>
            
            <div class="col-md-6 col-lg-4 g-flex-centered g-theme-bg-gray-light-v2 px-0">
              <div class="g-py-50 g-px-15 g-pa-50--md">
                <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-mb-30">关于迈成</h2>
                <p class="mb-0">迈成国际总部设立在加拿大温哥华本土，本拿比市中心地带。是加拿大BC省注册的留学，培训与移民的咨询服务公司，专业提供留学，培训，移民，签证办理等服务。<br><br>
                迈成国际由多名ICCRC持牌资深移民顾问和经验丰富的文案团队组成。我们的专业团队熟悉加拿大移民文化和加拿大移民政策法规，充分掌握加拿大移民局势，透彻分析加拿大各大类移民项目，精于处理疑难杂症。我们根据每位客人的实际情况分析量身定做具体移民方案，把文件做到周全，细致，合理。我们有高质量的文件准备，追求严密准确，以确保每位客户都能实现移民梦想。<br><br>
                除此之外，迈成国际与多家加拿大教育机构，大学，职业学院，大专学院和语言学校有密切合作。由于我们代理的学校面广，我们能根据留学生的具体情况和要求，为其选择最合适的学校和专业。<br><br>
                我们的教育团队都是研究生毕业的高材生，团队成员有硕士以上计算机，电子，机械和社科的相关学位，在我们资深教育团队的带领下，为学生提供和量身定做的英语补习课程，以及针对中学，大学的课程辅导。<br><br>
                迈成国际秉持着实事求是的原则，专门为客户排忧解难，问题简单化，一步到位。“迈向我们，成就自己”一直是我们的信念，客户既然选择了我们，我们必会尽其所能帮助每位客户实现他们心中所愿。
                </p>
              </div>

            </div>
            
            <div class="col-md-6 col-lg-4 g-theme-bg-gray-dark-v1 px-0">
              <div class="g-theme-bg-gray-dark-v4--hover g-brd-bottom g-theme-brd-gray-dark-v2 g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">留学</h3>
                <p class="mb-0">为学生提供和量身定做的英语补习课程，以及针对中学，大学的课程辅导</p>
              </div>
              
              <div class="g-theme-bg-gray-dark-v4--hover g-brd-bottom g-theme-brd-gray-dark-v2 g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">培训</h3>
                <p class="mb-0">我们针对不同学生提供量身定做的方案</p>
              </div>
              
              <div class="g-theme-bg-gray-dark-v4--hover g-brd-bottom g-theme-brd-gray-dark-v2 g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">签证</h3>
                <p class="mb-0">高端有效的签证服务，承若以最快速的申请处理速度</p>
              </div>
              
              <div class="g-theme-bg-gray-dark-v4--hover g-py-50 g-px-15 g-pa-50--md g-transition-0_2 g-transition--ease-in">
                <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-white g-mb-15">移民</h3>
                <p class="mb-0">专业团队为您定制私人专属的移民方案</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      
      <!-- Clients -->
      <section class="text-center g-py-90" id="partners">
        <div class="text-center g-mb-60">
          <div class="container g-max-width-770">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-black g-mb-30">我们可以申请的学校</h2>
            
            <p class="mb-0">我们拥有BC最全的合作学校、以及加拿大和美国名牌大学，给您最多的选择。</p>
          </div>
        </div>

        <div class="container">
        <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">·加拿大名校高中／本科／研究生申请·</h3>
          <div class="row g-brd-top g-brd-left g-theme-brd-gray-light-v1 mx-0">
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.sfu.ca/"><img class="g-width-120" src="/local_assets/schools/sfu.jpg" alt="SFU"></a>
              <p>SFU</p>
            </div>  
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.ubc.ca/"><img class="g-width-120" src="/local_assets/schools/ubc.jpeg" alt="UBC"></a>
              <p>UBC</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.uvic.ca/"><img class="g-width-120" src="/local_assets/schools/uvic.jpg" alt="UVIC"></a>
              <p>UVIC</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.uwo.ca/"><img class="g-width-120" src="/local_assets/schools/uwo.gif" alt="UWO"></a>
              <p>UWO</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.utoronto.ca/"><img class="g-width-120" src="/local_assets/schools/ut.png" alt="UofT"></a>
              <p>UofT</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img6.png" alt="Image Description">
            </div>
          </div>
        </div>

        <br><br><br>


        <div class="container">
        <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">·加拿大名校高中／本科／研究生申请·</h3>
          <div class="row g-brd-top g-brd-left g-theme-brd-gray-light-v1 mx-0">
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img1.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img2.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img3.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img4.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img5.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img6.png" alt="Image Description">
            </div>
          </div>
        </div>


        <br><br><br>

        <div class="container">
        <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">·加拿大名校高中／本科／研究生申请·</h3>
          <div class="row g-brd-top g-brd-left g-theme-brd-gray-light-v1 mx-0">
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img1.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img2.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img3.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img4.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img5.png" alt="Image Description">
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <img class="g-width-120" src="/local_assets/img-temp/Xx74/img6.png" alt="Image Description">
            </div>
          </div>
        </div>

      </section>
      <!-- End Clients -->
      
      <%#include price.ejs %>

      <!-- Section Content -->
      <section id="contact" class="text-center g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">联系我们</h2>
            <p class="mb-0">我们会在第一时间解决你的问题，随时联系我们</p>
          </div>
        </div>

        <div class="container-fluid">
          <address class="row g-color-gray-dark-v4 mb-0">
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-map d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">地址</h3>
              <strong class="g-font-size-16 g-color-black">2600-4720 kingsway<br> Burnaby <br> BC </strong>
            </div>
            
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-screen-smartphone d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">微信</h3>
<!--               <strong class="g-font-size-16 g-color-black">maichenchuchu</strong><br>
 -->              <img class="g-width-120" src="/local_assets/material/wechat.png" alt="maichen0702">

            </div>
            
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-envelope-letter d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Email</h3>
              <a class="g-font-size-16 g-color-black" href="mailto:info@htmlstream.com"><strong>info@maichen.com</strong></a>
            </div>
            
            <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
              <i class="icon-line icon-call-in d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
              <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">电话</h3>
              <strong class="g-font-size-16 g-color-black">778 374 2808</strong>
            </div>
          </address>
        </div>

      </section>
      <!-- End Section Content -->
      
      <footer>
        <div class="g-color-gray-dark-v5 g-theme-bg-gray-dark-v3">
          <div class="container">
            
            <div class="text-center text-md-left g-brd-top g-brd-gray-dark-v2 g-py-40">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center g-mb-15 g-mb-0--md">
                  <p class="w-100 mb-0">
                    2017 All right reserved. Development by Maichen
                  </p>
                </div>
                
                <div class="col-md-6">
                  <ul class="list-inline float-md-right mb-0">
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-dark-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-dark-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-dark-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
    
    <!-- JS Global Compulsory -->
    <script src="/global_assets/vendor/jquery/jquery.min.js"></script>
    <script src="/global_assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="/global_assets/vendor/tether.min.js"></script>
    <script src="/global_assets/vendor/bootstrap/bootstrap.min.js"></script>
    
    <!-- JS Implementing Plugins -->
    <script src="/global_assets/vendor/smoothScroll.js"></script>
    <script src="/global_assets/vendor/appear.js"></script>
    <script src="/global_assets/vendor/slick-carousel/slick/slick.js"></script>
    
    <!-- JS Unify -->
    <script src="/global_assets/js/hs.core.js"></script>
    <script src="/global_assets/js/components/hs.header.js"></script>
    <script src="/global_assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/global_assets/js/components/hs.scroll-nav.js"></script>
    <script src="/global_assets/js/helpers/hs.height-calc.js"></script>
    <script src="/global_assets/js/components/hs.carousel.js"></script>
    
    <!-- JS Customization -->
    <script src="/global_assets/js/custom.js"></script>
    
    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // Initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700,
          easing: 'easeOutExpo'
        });
        
        // Initialization of Hamburgers
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        
        // Initialization of HSHeader
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        $.HSCore.helpers.HSHeightCalc.init();
        
        // custom function
        $('#carousel5').on('click', '.js-thumb', function (e) {
          e.stopPropagation();
          //Variables
          var i;
          
          //Variables values
          i = $(this).data('slick-index');
          
          if ($('#carousel5').slick('slickCurrentSlide') !== i) {
            $('#carousel5').slick('slickGoTo', i);
          }
        });
        
        // Initialization of HSHeader component
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        // initialiation of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        
        $('#carouselCus1').slick('setOption', 'responsive', [{
          breakpoint: 1350,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 1200,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 670,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 500,
          settings: {
            slidesToShow: 1
          }
        }], true);
        
        $('#carousel5').slick('setOption', 'responsive', [{
          breakpoint: 768,
          settings: {
            slidesToShow: 3
          }
        }, {
          breakpoint: 554,
          settings: {
            slidesToShow: 1
          }
        }], true);
      });
    </script>
  </body>
</html>
