<!-- Pricing Blocks -->
      <section id="bestOffers" class="g-theme-bg-gray-dark-v1 g-py-90">
        <div class="text-center g-mb-60">
          <div class="container g-max-width-770">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-white g-mb-30">促销活动</h2>
            
            <p class="mb-0">为了反馈新老客户，我们不定期推出不同的促销活动</p>
          </div>
        </div>
        
        <div class="container">
          <div class="g-mx-minus-15">
            <div id="carouselCus1" class="js-carousel text-center g-pb-50"
                 data-infinite="1"
                 data-slides-show="4"
                 data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-0">
              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">签证</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">八折
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20">大小签</li>
                      <li class="g-mb-20">各国旅游签证</li>
                      <li class="g-mb-20">探亲签证</li>
                      <li class="g-mb-20">陪读签证</li>
                    </ul>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>
              
              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">留学</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">八折
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20">加拿大留学</li>
                      <li class="g-mb-20">美国留学</li>
                    </ul>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>

              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">培训</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">八折
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20"> college转大学课程</li>
                      <li class="g-mb-20">IELTS</li>
                      <li class="g-mb-20">TOEFL</li>
                      <li class="g-mb-20">SAT</li>
                    </ul>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>

              <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="text-center g-bg-white">
                  <!-- Article Header -->
                  <header class="g-bg-primary g-color-white g-pa-40">
                    <!-- Article Title -->
                    <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">移民</h4>
                    <!-- End Article Title -->
                    
                    <div class="g-font-size-36 g-line-height-1">八折
                    </div>
                  </header>
                  <!-- End Article Header -->
                  
                  <!-- Article Content -->
                  <div class="g-pa-40">
                    <ul class="text-uppercase list-unstyled g-mb-30">
                      <li class="g-mb-20">各类项目免费咨询</li>
                    </ul>
                  </div>
                  <!-- End Article Content -->
                </article>
                <!-- End Article -->
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Blocks -->