<!-- Clients -->
      <section class="text-center g-py-90" id="partners">
        <div class="text-center g-mb-60">
          <div class="container g-max-width-770">
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-black g-mb-30">我们可以申请的学校</h2>
            
            <p class="mb-0">我们拥有BC最全的合作学校、以及加拿大和美国名牌大学，给您最多的选择。</p>
          </div>
        </div>

        <div class="container">
        <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">·加拿大名校本科／研究生申请·</h3>
          <div class="row g-brd-top g-brd-left g-theme-brd-gray-light-v1 mx-0">
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.sfu.ca/"><img class="g-width-120" src="/local_assets/schools/sfu.jpg" alt="SFU"></a>
              <p>Simon Fraser University</p>
            </div>  
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.ubc.ca/"><img class="g-width-120" src="/local_assets/schools/ubc.jpeg" alt="UBC"></a>
              <p>University of British Columbia</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.uvic.ca/"><img class="g-width-120" src="/local_assets/schools/uvic.jpg" alt="UVIC"></a>
              <p>University of Victoria</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.uwo.ca/"><img class="g-width-120" src="/local_assets/schools/uwo.gif" alt="UWO"></a>
              <p>Western University</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.utoronto.ca/"><img class="g-width-120" src="/local_assets/schools/ut.png" alt="UofT"></a>
              <p>University of Toronto</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.mcgill.ca/"><img class="g-width-120" src="/local_assets/schools/mcgill.png" alt="Mcgill University"></a>
              <p>Mcgill University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.mcmaster.ca/"><img class="g-width-120" src="/local_assets/schools/mcmaster.png" alt="Mcmaster University"></a>
              <p>Mcmaster University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.queensu.ca/"><img class="g-width-120" src="/local_assets/schools/queensu.png" alt="Queen's University"></a>
              <p>Queen's University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.yorku.ca/index.html"><img class="g-width-120" src="/local_assets/schools/york.png" alt="York University"></a>
              <p>York University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.uoguelph.ca/"><img class="g-width-120" src="/local_assets/schools/uoguelph.png" alt="University of Guelph"></a>
              <p>University of Guelph</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.ualberta.ca/"><img class="g-width-120" src="/local_assets/schools/alberta.png" alt="University of Alberta"></a>
              <p>University of Alberta</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://uwaterloo.ca/"><img class="g-width-120" src="/local_assets/schools/waterloo.png" alt="Waterloo University"></a>
              <p>Waterloo University</p>
            </div>

            <!-- <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.twu.ca/"><img class="g-width-120" src="/local_assets/schools/twu.png" alt="Trinity Western University"></a>
              <p>Trinity Western University</p>
            </div> -->

            
          </div>
        </div>

        <br><br><br>


        <div class="container">
        <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">·美国名校本科／研究生申请·</h3>
          <div class="row g-brd-top g-brd-left g-theme-brd-gray-light-v1 mx-0">
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://wustl.edu/"><img class="g-width-120" src="/local_assets/schools/wustl.png" alt="Washington University "></a>
              <p>Washington University </p>
            </div>  
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.bc.edu/"><img class="g-width-120" src="/local_assets/schools/bc.png" alt="Boston College"></a>
              <p>Boston College</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.berkeley.edu/"><img class="g-width-120" src="/local_assets/schools/berkeley.png" alt="University of California-Berkeley"></a>
              <p>University of California-Berkeley</p>
            </div>
            
            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.ucla.edu/"><img class="g-width-120" src="/local_assets/schools/ucla.png" alt="University of California, Los Angeles"></a>
              <p>University of California, Los Angeles </p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.cmu.edu/"><img class="g-width-120" src="/local_assets/schools/cmu.png" alt="Carnegie Mellon University "></a>
              <p>Carnegie Mellon University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.purdue.edu/"><img class="g-width-120" src="/local_assets/schools/purdue.png" alt="Purdue University"></a>
              <p>Purdue University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.wfu.edu/"><img class="g-width-120" src="/local_assets/schools/wfu.png" alt="Wake Forest University"></a>
              <p>Wake Forest University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="https://www.syracuse.edu/"><img class="g-width-120" src="/local_assets/schools/syracuse.png" alt="Syracuse University"></a>
              <p>Syracuse University</p>
            </div>

            <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="http://www.psu.edu/"><img class="g-width-120" src="/local_assets/schools/psu.png" alt="Pennsylvania State University"></a>
              <p>Pennsylvania State University</p>
            </div>

          </div>
        </div>


        <br><br><br>

        <div class="container">
        <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">·加拿大名校高中／本科／研究生申请·</h3>
          <div class="row g-brd-top g-brd-left g-theme-brd-gray-light-v1 mx-0">
            
            <% for(var i=0; i<schools.length; i++) {%>
             <div class="col-md-4 col-lg-2 g-brd-bottom g-brd-right g-theme-brd-gray-light-v1 g-py-50">
              <a href="<%= schools[i].link %>"><img class="g-width-120" src="/local_assets/high_school/<%= schools[i].photo %>.png" alt="<%= schools[i].name %>"></a>
              <p><%= schools[i].name %></p>

            </div>
            <% } %>

            
            
            
          </div>
        </div>

      </section>
      <!-- End Clients -->