<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>迈成 Maichen | 加拿大留学移民签证</title>
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/global_assets/vendor/bootstrap/bootstrap.min.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/global_assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/global_assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/animate.css">
    <link rel="stylesheet" href="/global_assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/global_assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-hs/style.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/global_assets/css/unify.css">
    
    <!-- CSS Template -->
    <link rel="stylesheet" href="/local_assets/css/styles.op-accounting.css">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/global_assets/css/custom.css">
  </head>
  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">学习签证/续签</h2>
            <img src="/local_assets/visa/a.png">
            <br><br><br>
            <p class="mb-0">学习许可俗称大签，是留学生在加拿大证明学生身份的重要文件。大签的作用是证明学生在加拿大的合法学生身份，有一定的有效期。有些留学生对具体续签的时间毫无概念，要知道学习许可任何时候都不能过期，我们建议学生在过期前三个月开始续签。如果您在续签时现有大签已经过期，那么必须在过期之后90日之内提出学习身份的恢复，而且在获得新的大签之前是不能继续学习的哦。因此学生们千万别小视续签哦，如果情况严重，随时会被移民局视为非法滞留，会有被拒的可能性。</p>
            <br>
            <p>
            只要在加拿大学习的海外学生，无论如何你都需要持有学习许可；但以下情况属于例外：
            </p>
            
            <p style="margin-left: 40px">
            <i>如果你参加不超过6个月的短期课程，则你不需要申请学习许可。但是，如果你是中华人民共和国公民，你仍需要申请临时居民访问签证（俗称小签visa）。<br>
            另外：如果你申请去魁北克学习，你还需要由该省公民与移民关系部the Ministere des relations avec les citoyens et de I’immigration (MRCI) 签发的魁北克接收证明CERTIFICAT D’ACCEPTATION DU QUEBEC (CAQ)</i>
          </p>
          <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">需要准备材料:</h3>
          <p style="margin-left: 40px">
              1.护照 <br>
              2. 学校入学或在读证明 <br>
              3. 现有大签 <br>
              4. 银行存款证明 <br>
              5. 近6个月内的电子版照片（35mm * 45mm） <br>
              6. 未满19岁需要提供加拿大监护人证明 <br>
              移民局申请费用：$150加币 <br>
              大签过期续签（身份恢复）： $350加币 <br>
          </p>

          <br>
          <br>

          <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">小签</h2>
            <img src="/local_assets/visa/a2.png">
            <br><br><br>
            <p class="mb-0">小签是申请人护照上贴的”visa”，即临时入境签证。申请人除了持有有效的学习许可或工作许可，也必须同时持有有效的临时入境签证，才能入境加拿大</p>
            <br>
            <p>
            须知：学习或工作许可的持有人，可以在加拿大境内申请续签临时入境签证；如果申请人临时离境，也必须在其所在国家申请visa，否则不得重返加拿大。
            </p>
            
          <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">需要准备材料:</h3>
          <p style="margin-left: 40px">
          1. 护照 <br>
          2. 现有大签 <br>
          3. 在读证明或正式入学通知书 <br>
          4. 近期6个月内的电子版照片（35mm * 45mm） <br>
          5. 过去两个学期的正式成绩单 <br>
          6. 银行存款证明 <br>
          7. 未满19岁需要提供监护人公证 <br>
          8. 如果是工签持有人需要提供在职证明，工资单等证明 <br>
          移民局政府申请费用：$100 <br>
          </p>


          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <footer>
        <div class="g-color-gray-white-v5 g-theme-bg-gray-white-v3">
          <div class="container">
            
            <div class="text-center text-md-left g-brd-top g-brd-gray-white-v2 g-py-40">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center g-mb-15 g-mb-0--md">
                  <p class="w-100 mb-0">
                    2017 All right reserved. Development by Maichen
                  </p>
                </div>
                
                <div class="col-md-6">
                  <ul class="list-inline float-md-right mb-0">
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-white-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-white-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-white-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
    
    <!-- JS Global Compulsory -->
    <script src="/global_assets/vendor/jquery/jquery.min.js"></script>
    <script src="/global_assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="/global_assets/vendor/tether.min.js"></script>
    <script src="/global_assets/vendor/bootstrap/bootstrap.min.js"></script>
    
    <!-- JS Implementing Plugins -->
    <script src="/global_assets/vendor/smoothScroll.js"></script>
    <script src="/global_assets/vendor/appear.js"></script>
    <script src="/global_assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/global_assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>

    <!-- JS Unify -->
    <script src="/global_assets/js/hs.core.js"></script>
    <script src="/global_assets/js/components/hs.header.js"></script>
    <script src="/global_assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/global_assets/js/components/hs.scroll-nav.js"></script>
    <script src="/global_assets/js/helpers/hs.height-calc.js"></script>
    <script src="/global_assets/js/components/hs.carousel.js"></script>
    
    <!-- JS Customization -->
    <script src="/global_assets/js/custom.js"></script>
    
    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // Initialization of HSScrollNav
        // $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
        //   duration: 700,
        //   easing: 'easeOutExpo'
        // });
        
        // Initialization of Hamburgers
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        
        // Initialization of HSHeader
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        // Initialization of HSMegaMenu plugin
          $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
          });

        $.HSCore.helpers.HSHeightCalc.init();
        
        // custom function
        $('#carousel5').on('click', '.js-thumb', function (e) {
          e.stopPropagation();
          //Variables
          var i;
          
          //Variables values
          i = $(this).data('slick-index');
          
          if ($('#carousel5').slick('slickCurrentSlide') !== i) {
            $('#carousel5').slick('slickGoTo', i);
          }
        });
        
        // Initialization of HSHeader component
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        // initialiation of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        
        $('#carouselCus1').slick('setOption', 'responsive', [{
          breakpoint: 1350,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 1200,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 670,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 500,
          settings: {
            slidesToShow: 1
          }
        }], true);
        
        $('#carousel5').slick('setOption', 'responsive', [{
          breakpoint: 768,
          settings: {
            slidesToShow: 3
          }
        }, {
          breakpoint: 554,
          settings: {
            slidesToShow: 1
          }
        }], true);
      });
    </script>
  </body>
</html>
