<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">首次申请学习许可证（study permit）</h2>
            <img class="img-fluid" src="/local_assets/visa/b.png">
            <br><br><br>
            <p class="mb-0">如果您想在加拿大学习6个月以上的课程，想成为留学生，那么您就需要申请学习许可证，俗称大签，是移民局发给DLI名单中学校就读的国际学生的文件，证明该学生有资格在加拿大读书。
            </p>
            <br>
            <p>
            一般学生的签证有效期，是依据申请就读的学校所开具的入学通知信（Letter of Acceptance）上就读课程的时间来决定。大致上来说，大学生的学生签证可以一次拿到三到四年的时间；一般的ESL课程及中，小学可以拿到一年左右的时间。
            </p>
            <br>

             <p>
              迈成国际与各大院校充分合作，将为您量身定做留学规划，申请适合的学校和专业，提高留学目的的合理性，以最有效的方式为您获得学习签证。
              一个月左右的时间能取得学校的录取通知书；三个月左右时间为您申请到学习签证
            </p>
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
            <% include ../footer.ejs %>

    </main>
    
        <% include ../js.ejs %>

  </body>
</html>
