<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">旅游签转学签</h2>
            <img class="img-fluid" src="/local_assets/visa/c.png">
            <br><br><br>
            <p class="mb-0">很多超过25岁的申请人想申请来加拿大读书，如果没有雅思成绩，也没有去过加拿大，就几乎不可能过签的。针对这类客户群，旅游签转学签是最好的选择。绝大部分的陪读妈妈都通过这个类别办下学生签证，然后完成学业，拿到工签，再顺利申请移民。当然这类签证也使用于一些拿着旅游签的年轻学生。
            </p>
            <br>
            <p>
            要在加国境内申请学签，完成的此课程必须是其日后申请专业课程的必备条件。一般情况下，这个短期课程的选择均为英语培训，在完成3-4个月的英语学习后，申请人的语言水平必须达到其后申请就读专业的录取标准，随后获得专业课程的录取后，申请人才可在加拿大境内办理学签。
            </p>
            
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
