<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">探亲/旅游签证</h2>
            <img class="img-fluid" src="/local_assets/visa/d.png">
            <br><br><br>
            <p class="mb-0">经常漂泊在外的学生们或孩子们，每每到节假日，总会牵挂和惦念着家人。探亲签证让您和您的家人实现团聚愿望。
            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">申请人条件:</h3>
            <p style="margin-left: 40px">
              具有良好的旅行记录，有稳定的工作，收入；定存足够
            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">邀请人条件:</h3>
            <p style="margin-left: 40px">
              如果是学生，则着重邀请人的学习状况；如果是加拿大永久居民/公民并且有工作，则着重邀请人的经济条件
            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">申请材料:</h3>
            <p style="margin-left: 40px">
              申请人的护照，身份证复印件； <br>
              在职证明/退休证明；<br>
              存款证明；<br>
              其他资产证明；<br>
              与加拿大邀请人关系证明；<br>
              2张照片 <br>
              邀请人的邀请信；<br>
              雇主证明/学校在读证明；<br>
              收入/银行存款证明；<br>
              在加拿大的身份文件证明；<br>
              纳税证明
            </p>
            
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
