<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">超级签证</h2>
            <img src="/local_assets/visa/e.png">
            <br><br><br>
            <p class="mb-0">加拿大公民或者永久居民的父母，祖父母都可以申请超级签证，并且每次入境可以停留至两年时间。这无疑给分居两地的亲人一个团聚的机会。
            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">申请人条件:</h3>
            <p style="margin-left: 40px">
            子女或孙子女为18周岁以上，并且是加拿大公民或永久居民；子女或孙子女收入达到最低要求的证明；书面证明担保人会从财政上支持您；购买至少一年的加拿大医疗保险
            </p>
            <br>
            <p>移民局申请费：$100CAD</p>

                        
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
