<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">毕业工签</h2>
            <img class="img-fluid" src="/local_assets/visa/f1.png">
            <br><br><br>
            <p class="mb-0">毕业工签是指留学生结束学业后，根据留学时间申请大概1-3年的工作签证。
            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">申请人条件:</h3>
            <p style="margin-left: 40px">
            毕业于加拿大专上院校，公立或（部分符合要求的私立）学校；已经完成8个月以上的课程；获得学校出具的毕业确认信或毕业证书；必须在修满最后一门课程后的90天内递交申请；毕业工签只能申请一次
            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">申请材料:</h3>
            <p style="margin-left: 40px">
            电子照片；<br>
            护照页面；<br>
            学校出具的毕业确认信或毕业证书；<br>
            成绩单
            </p>


                        
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
