<!DOCTYPE html>
<html lang="en">
  <% include ../head.ejs %>
  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">陪读陪工工作签证</h2>
            <img src="/local_assets/visa/f4.png">
            <br><br><br>
            <p class="mb-0">这适用于留学生或工签持有人的配偶（或同居伴侣），签证时长与配偶的学生或工作签证时间一致</p>
            

          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
