<!DOCTYPE html>
<html lang="en">
  <% include ../head.ejs %>
  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">申根签证</h2>
            <img class="img-fluid" src="/local_assets/visa/g2.png">
            <br><br><br>
            <p class="mb-0">
            旅客申请申根签证，意味着在25个成员国（22个欧洲联盟成员国和3个非洲联盟成员国）之间旅游。只需申请一个签证，就可以访问任意一个成员国。大多数情况下，可逗留的时间为90天。
            </p>
            <br>
            <p>
            25个成员国有：奥地利，比利时，捷克，丹麦，爱沙尼亚，芬兰，法国，德国，希腊，匈牙利，冰岛，意大利，拉脱维亚，立陶宛，卢森堡，马耳他，荷兰，挪威，波兰，葡萄牙，斯洛伐克，斯洛文尼亚，西班牙，瑞典和瑞士
            </p>


          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
