<!DOCTYPE html>
<html lang="en">
  <% include ../head.ejs %>
  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">日本签证</h2>
            <img src="/local_assets/visa/g6.png">
            <br><br><br>
            <p class="mb-0">
要是想前往日本旅游，必须申请日本旅游签证。通常情况下，需要面谈。

            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">需要材料:</h3>
            <p style="margin-left: 40px">
            护照原件； <br>
            在加拿大身份证明（学生签证，工作签证，或PR卡）；<br>
            银行存款证明；<br>
            银行最近3个月的流水记录；<br>
            工作或在读证明/成绩单；<br>
            旅游保险；酒店预订信息；<br>
            机票预订；<br>
            2张照片；<br>
            </p>


          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
