<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">父母及祖父母团聚</h2>
            <img class="img-fluid" src="/local_assets/immigration/a1.png">
            <br><br><br>
            <p class="mb-0">加拿大父母团聚移民，作为人道主义的体现，帮助申请人与在加拿大居住的担保人达到家庭团聚的目的。与普通探亲签证相比，父母移民登录3个月后就可以享受免费的医疗保险，10年后可以领取政府的养老津贴。
            </p>
            <br>
            <p class="mb-0">担保人主要满足以下条件即可：是加拿大永久居民或者公民，18岁以上，承诺承担亲属到达加拿大后20年内的生活开销；最低收入要保证在政府列出的范围之内
            </p>

            <br>
            <p class="mb-0">担保人必须达到最低收入标准（见下表）
            </p>

            <br><br>

            <img class="img-fluid" src="/local_assets/immigration/a1_2.png">


           


                        
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
