<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">夫妻团聚</h2>
            <img class="img-fluid" src="/local_assets/immigration/a2.png">
            <br><br><br>
            <p class="mb-0">加拿大夫妻团聚移民也叫配偶团聚移民。担保人若为加拿大公民或永久居民，就可以担保其配偶或同居伴侣移民加拿大，与担保人一起生活。

            </p>
            <br>
            <p class="mb-0">只要担保人具有担保资格并且能证明你们确实是配偶关系，具有一定的经济担保能力，承诺义务承担配偶到达加拿大后3年的基本生活开销。

            </p>

            <br>
            <p class="mb-0">如果担保人是永久居民，申请时，您必须在加拿大居住；如果您是公民，目前不居住在加拿大，您需要说明等你的被担保人取得身份收，您会与申请人一起回加拿大定居。

            </p>

             <br>
            <p class="mb-0">加拿大境内外夫妻团聚区别
            </p>

            <p style="margin-left: 40px">
            1. 境内夫妻团聚：申请人必须在加拿大境内；并且在整个申请期间，也需要留在加拿大境内
            <br>
            <i class="g-font-size-14">注：在申请过程中，特别是第一阶段审核结束后，申请人可申请一个开放式工签，这样，申请人可以在加拿大境内合法工作</i>

            <br><br>
            2. 境外夫妻团聚：审理速度相对来说要快
            </p>
            


           


                        
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
