<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85 ">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">BC PNP省提名（适用于境内和海外人群）</h2>
            <img class="img-fluid " src="/local_assets/immigration/b1.png">
            <br><br><br>
            <p class="mb-0">省提名计划，是由每个省自己制定的移民政策，申请人向省内提及申请。
            </p>
            <br>
            <p class="mb-0">项目优势:
            </p>
            <p style="margin-left: 40px">
            • 一步到位拿枫叶卡，审批周期快 <br>
            • 申请条件宽松，职业列表范围广 <br>
            • 获得身份后，没有加拿大境内居住地限制 <br>
            • 获得身份后，更方便出入美国，入籍后护照可免签美国及其他180多个国家 <br>
            • BC省经济发达，环境优越，温哥华连续多年被评为全球最宜居住城市 <br>

            </p>

            <p class="mb-0">项目主要分为:
            </p>

            <p style="margin-left: 40px">
            • 技术劳工类型（Skilled worker）--适用用境内和海外人群 <br>
            • 留学生类型（International Graduate）--适用于境内毕业留学生 <br>
            • 研究生，博士生毕业类型（International Post Graduate）--适用于境内毕业留学生 <br>
            • 低技术劳工类型（Entry-level or Semi-Skilled ）--适用于境内和海外人群 <br>


            </p>

            <p class="mb-0">雇主担保: 企业成立至少一年；大温地区内的企业需有不少于5个全职永久性员工
            </p>


          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
