<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85 ">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">枫叶卡续期/补办</h2>
            <img class="img-fluid " src="/local_assets/immigration/d1.png">
            <br><br><br>
            <p class="mb-0">加拿大永久居民卡（Canada Permanent Resident Card）,又称枫叶卡，是加拿大永久居民的身份证明文件，也是出入境所需的证件。枫叶卡的有效期一般为五年。
            </p>
            <br>
            <p class="mb-0">申请条件:
            </p>
            <p style="margin-left: 40px">
              根据枫叶卡换发规定，永久居民须在五年内在境内住满两年的时间，才有资格换发。申请人需要提交过去五年的税单（NOA）。

            </p>



          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
