<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">留学申请，找迈成就对了！</h2>
            <img class="img-fluid" src="/local_assets/study/a.png">
            <br><br><br>
            <p class="mb-0">开启名校半自助留学时代，迈成助你拿到名校offer!
            </p>
            <br>
            <p class="mb-0">想要拿到美国排名前100的名校和加拿大的名校offer吗？ 那就来找迈成吧。大学申请季就要滚滚袭来，早做准备，规划课程，早拿offer哟。迈成教育团队都是研究生毕业的高材生，团队成员均有硕士以上计算机，电子，机械和社科的相关学位。
            </p>

            <br>
            <p class="mb-0">迈成相信授之以鱼，不如授之以渔。我们不仅仅凭自己的专业经验帮您完成名校申请，还会提供详细的攻略，教你如何看大学网站，选课网站，从学校的网站上搜索到你需要的信息。毕竟拿到offer只是大学四年的预备曲。在申请过程中，相信很多学生都想自己掌握自己的申请流程，包括文书以及学校的申请流程。把自己的真实idea写在personal statement里， 而不是用模板敷衍了事。对于申请流程，让留学秘书和你共同管理，我的申请我做主！
            </p>
            <br>
            <p class="mb-0">所以想要学习计算机，电子工程等工科专业的高中生，和college transfer的学生们，向工科优秀学长取经的机会来了！我们的教育团队特别请来了Inspired Robotics 的创始人Alan 学长和Lethic学长为你们答疑解惑。 他们毕业于SFU，计算机专业硕士，所创立的公司得到加拿大NEXT AI 的投资，他们可以告诉你计算机学科领域方向与就业的关系，以及如何获得一份满意的coop工作，同时他们都是全额奖学金的获得者哦。
            </p>


            <br><br>

            <img class="img-fluid" src="/local_assets/study/a1_2.png">


                                  
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
