<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25"> 加拿大大学名校申请</h2>
            <img class="img-fluid" src="/local_assets/study/b.png">
            <br><br><br>
            <p class="mb-0">
            A类College Transfer锦囊计划
            </p>
            <br>          
            <p style="margin-left: 40px">
            根据不同的major 课程规划+培训一门课（20课时）+大学申请   <br>     
            根据不同的major 课程规划+培训两门课（40课时）+大学申请   <br>    
            根据不同的major 课程规划+培训三门课（60课时）+大学申请   <br> 
            </p>

            <br>

            <p class="mb-0">
            B类高中直升直通计划(4人班）
            </p>
            <p style="margin-left: 40px">
            根据不同的major 课程规划+培训一门课（20课时）+2大学申请    <br>
            根据不同的major 课程规划+培训两门课（40课时）+2大学申请    <br>   
            根据不同的major 课程规划+培训三门课（60课时）+2大学申请    <br>
            </p>

          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
