<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25"> 北美研究生申请</h2>
            <img class="img-fluid" src="/local_assets/study/b3.png">
            <br><br><br>
            <p class="mb-0">
            社科类，工科类，金融类研究生申请,包含以下学校，更多学校请咨询
            </p>
            <br>
            <p class="mb-0">
              加拿大
            </p>   
            <br>       
            <p style="margin-left: 40px">
            西门菲沙大学Simon Fraser University；哥伦比亚大学University of British Columbia; 维多利亚大学University of Victoria; 西安大略大学Western Ontario Universtiy; 多伦多大学University of Toronto; 麦吉尔大学Mcgill University; 麦克马斯特大学Mcmaster University; 女皇大学Queens University;  约克大学York University; 圭尔夫大学University of Guelph;  阿尔伯塔大学University of Alberta;  滑铁卢大学Waterloo University；西三一大学Trinity Western University 
            </p>

            <br>
            <p class="mb-0">
              美国名校本科／研究生申请
            </p>   
            <br>       
            <p style="margin-left: 40px">
              华盛顿大学Washington University;  波士顿学院Boston College；加州⼤大学伯克利分校 University of California-Berkeley ；加利福尼亚⼤大学洛杉矶分校(University of California, Los Angeles,简称 为UCLA)；卡内基梅隆⼤大学 Carnegie Mellon University ；宾州州立大学 Pennsylvania State University ；普渡大学 Purdue University；维克森林大学 Wake Forest University； 雪城大学  Syracuse University 
            </p>

          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
