<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25"> 加拿大名校、美国常春藤院校WORKSHOP</h2>
            <img class="img-fluid" src="/local_assets/study/b3.png">
            <br><br><br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">1.课程简介:</h3>

            <p style="margin-left: 40px">
              召集加拿大顶尖学子，指导学生名校申请，组织学生交流心得。
              提供语言培训课程（IELTS&TOEFL）
              美国大学入学考试SAT
            </p>
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">2.适用学员:</h3>

            <p style="margin-left: 40px">
              高一高二在读，自主性强，目标院校为SFU UBC UT Mcgill等加拿大名校和美国排名前100院校，希望与资深顾问和培训老师一起合作，提升背景，提升文书质量，突出申请优势。
            </p>

            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">3.课程包含:</h3>
            <p style="margin-left: 40px">
              硬实力提升课程:
            </p>
              <p style="margin-left: 80px">
              本科<br>
              GPA ／IELTS/TOEFL／SAT （美国大学申请适用）<br>
              硕士 <br>
              GPA／IELTS/TOEFL／GRE（文科&工科）/GMAT（商科）
              </p>
            <br>
            <p style="margin-left: 40px">
              软实力提升指导:
            </p>
              <p style="margin-left: 80px">
                1.  实习&工作经验： 帮你从你的工作实习经历中挖掘出学校想要看到的你的闪光点，为大学申请加分。 <br>
                2.  研究经历（研究生适用） <br>
                3.  社区活动 <br>
                4.  校园社会活动 
              </p>

          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
