<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25"> 美国名校大学申请TIMELINE</h2>
            <img class="img-fluid" src="/local_assets/study/d2.png">
            <br><br><br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">倒计时 18个月，入学前一年的3月份</h3>

            <p class="mb-0">
            1. 调查学校，找到最适合自己的学业和职业目标的大学和专业 <br>
            2. 整理学校资料，缩小择校范围 <br>
            3. 整理学校的相关资料，比如入学要求，学费，宿舍费用，课程，学生活动，助学金 <br>
            4. 注册并且准备必要的入学考试，如雅思、托福、SAT <br>
            5. 并且一定要认真上12年级的课程，12年级课程成绩对入学评估影响非常大 <br>
            </p> 
            <br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15"> 倒计时12到14个月，即入学前一年的7到9月份</h3>

            <p class="mb-0">
            1. 这个时候，你就必须要有一个明确的申请学校清单了。我们会综合考量，为学生们选择两所冲刺学校，两所目标学校，两所保底学校。<br>
            2. 学校会尤其关注你senior year 的表现，所以高中最后一年学习势头万万不能松懈。在拉高学校课程分数的同时，尽可能参加课外活动。<br>
            3. 参加语言考试和美国入学考试。
            </p> 
            <p style="margin-left: 40px">

            * Scholastic Assessment Test (SAT) <br>
            * Test of English as a Foreign Language (TOEFL) <br>
            * American College Testing (ACT)
            </p>

            
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15"> 倒计时10-12个月，入学前一年的5-7月</h3>
            <p class="mb-0">
            1. 找2-3名推荐人，推荐人可以是你的老师或者是熟悉你的人，让他们知道你想报哪个专业，哪所学校。给他们足够的时间写好recommendation letter或者填好recommendation form. <br>
            2. 让所在学校寄成绩单给美国院校，根据学校的不同，成绩单可能会需要认证。 <br>
            3. 写application  essays 
            </p>
            <br>

            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">倒计时第十个月，即入学前一年5月</h3>
            <p class="mb-0">
            1. 如果语言考试不是很理想，开始准备重考，九月入学的话，语言考试不能晚于一月。<br>
            2. 着手完成网上申请
            </p>
            <br>

            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">倒计时第三个月，即入学当年的六月
            </h3>
            <p class="mb-0">
            录取结果一般会在3月和4月下来，financial aid 信息一般会在三月底下来。一旦你决定了去哪所学校，别忘了交定金，接受offer，并且通知你的高中counselor让他们把你的最终成绩寄给美国的大学。在这之后一定要勤查邮箱，因为学校会给你发orientation information, housing arrangements.等信息。
            </p>
            

          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
