<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>迈成 Maichen | 加拿大留学移民签证</title>
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/global_assets/vendor/bootstrap/bootstrap.min.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/global_assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/global_assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/global_assets/vendor/animate.css">
    <link rel="stylesheet" href="/global_assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/global_assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/global_assets/vendor/icon-hs/style.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/global_assets/css/unify.css">
    
    <!-- CSS Template -->
    <link rel="stylesheet" href="/local_assets/css/styles.op-accounting.css">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/global_assets/css/custom.css">
  </head>
  
  <body>
    <main>
      <!-- Header v1 -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
              data-header-fix-moment="100">
        <div class="u-header__section g-bg-white-opacity-0_7 g-transition-0_3 g-py-15"
             data-header-fix-moment-exclude="g-bg-white-opacity-0_7"
             data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
          <nav class="navbar navbar-toggleable-md py-0">
            <div class="container">
              <!-- Logo -->
              <a href="/" class="navbar-brand u-header__logo g-width-130 g-mr-45">
                <img class="img-fluid u-header__logo-img u-header__logo-img--main" src="/local_assets/img/logo.png" alt="Image Description">
              </a>
              <!-- End Logo -->
              
              <div id="navBar" class="collapse navbar-collapse w-100">

                <div class="navbar-collapse align-items-center flex-sm-row">

                </div>
                <!-- Navigation -->
                <div class="js-mega-menu  navbar-collapse align-items-center flex-sm-row">
                  <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
                    <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#home" class="nav-link p-0">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg hs-has-sub-menu">
                      <a href="#" class="nav-link p-0" id="nav-link-1"
                         aria-haspopup="true"
                         aria-expanded="false"
                         aria-controls="nav-submenu-1"
                      >留学</a>

                      <!-- Submenu -->
                      <ul class="hs-sub-menu list-unstyled g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-mt-20 g-mt-10--lg--scrolling g-bg-white-opacity-0_5" id="nav-submenu-1"
                          aria-labelledby="nav-link-1"
                          >
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="/study/sfu">Page 1</a></li>
                        <li class="dropdown-item hs-has-sub-menu">
                          <a id="nav-link-2" class="nav-link g-px-0" href="#"
                             aria-haspopup="true"
                             aria-expanded="false"
                             aria-controls="nav-submenu-2"
                          >Page 2</a>

                          <!-- Submenu (level 2) -->
                          <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-py-7 g-my-2 g-bg-white-opacity-0_5" id="nav-submenu-2"
                              aria-labelledby="nav-link-2">
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-1</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-2</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-3</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-4</a></li>
                            <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 2-5</a></li>
                          </ul>
                          <!-- End Submenu (level 2) -->
                        </li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 3</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 4</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 5</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 6</a></li>
                        <li class="dropdown-item"><a class="nav-link g-px-0" href="#">Page 7</a></li>
                      </ul>
                      <!-- End Submenu -->
                    </li>

                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="visa" class="nav-link p-0">签证</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="immigration" class="nav-link p-0">移民</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#about" class="nav-link p-0">关于迈成</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#partners" class="nav-link p-0">合作院校</a>
                    </li>
                    <li class="nav-item g-ml-15--lg g-mb-7 g-mb-0--lg">
                      <a href="/#contact" class="nav-link p-0">联系我们</a>
                    </li>
                  </ul>
                </div>
                <!-- End Navigation -->
                

                <!-- <a class="btn btn-lg text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-rounded-30 g-px-40 g-py-15 mb-0" href="#">Login</a> -->
              </div>

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-mt-15 ml-auto" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header v1 -->
      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">学习签证/续签</h2>
            <img src="/local_assets/img-temp/800x496/img1.jpg">
            <br><br><br>
            <p class="mb-0">学习许可俗称大签，是留学生在加拿大证明学生身份的重要文件。大签的作用是证明学生在加拿大的合法学生身份，有一定的有效期。有些留学生对具体续签的时间毫无概念，要知道学习许可任何时候都不能过期，我们建议学生在过期前三个月开始续签。如果您在续签时现有大签已经过期，那么必须在过期之后90日之内提出学习身份的恢复，而且在获得新的大签之前是不能继续学习的哦。因此学生们千万别小视续签哦，如果情况严重，随时会被移民局视为非法滞留，会有被拒的可能性。</p>
            <br>
            <p>
            只要在加拿大学习的海外学生，无论如何你都需要持有学习许可；但以下情况属于例外：
            </p>
            
            <p style="margin-left: 40px">
            <i>如果你参加不超过6个月的短期课程，则你不需要申请学习许可。但是，如果你是中华人民共和国公民，你仍需要申请临时居民访问签证（俗称小签visa）。
            另外：如果你申请去魁北克学习，你还需要由该省公民与移民关系部the Ministere des relations avec les citoyens et de I’immigration (MRCI) 签发的魁北克接收证明CERTIFICAT D’ACCEPTATION DU QUEBEC (CAQ)</i>
          </p>
            

          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <footer>
        <div class="g-color-gray-white-v5 g-theme-bg-gray-white-v3">
          <div class="container">
            
            <div class="text-center text-md-left g-brd-top g-brd-gray-white-v2 g-py-40">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center g-mb-15 g-mb-0--md">
                  <p class="w-100 mb-0">
                    2017 All right reserved. Development by Maichen
                  </p>
                </div>
                
                <div class="col-md-6">
                  <ul class="list-inline float-md-right mb-0">
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-white-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-white-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="u-icon-v2 g-width-35 g-height-35 g-font-size-16 g-color-gray-light-v1 g-color-white--hover g-bg-primary--hover g-brd-gray-white-v2 g-brd-primary--hover g-rounded-5" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
    
    <!-- JS Global Compulsory -->
    <script src="/global_assets/vendor/jquery/jquery.min.js"></script>
    <script src="/global_assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="/global_assets/vendor/tether.min.js"></script>
    <script src="/global_assets/vendor/bootstrap/bootstrap.min.js"></script>
    
    <!-- JS Implementing Plugins -->
    <script src="/global_assets/vendor/smoothScroll.js"></script>
    <script src="/global_assets/vendor/appear.js"></script>
    <script src="/global_assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/global_assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>

    <!-- JS Unify -->
    <script src="/global_assets/js/hs.core.js"></script>
    <script src="/global_assets/js/components/hs.header.js"></script>
    <script src="/global_assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/global_assets/js/components/hs.scroll-nav.js"></script>
    <script src="/global_assets/js/helpers/hs.height-calc.js"></script>
    <script src="/global_assets/js/components/hs.carousel.js"></script>
    
    <!-- JS Customization -->
    <script src="/global_assets/js/custom.js"></script>
    
    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // Initialization of HSScrollNav
        // $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
        //   duration: 700,
        //   easing: 'easeOutExpo'
        // });
        
        // Initialization of Hamburgers
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        
        // Initialization of HSHeader
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        // Initialization of HSMegaMenu plugin
          $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
          });

        $.HSCore.helpers.HSHeightCalc.init();
        
        // custom function
        $('#carousel5').on('click', '.js-thumb', function (e) {
          e.stopPropagation();
          //Variables
          var i;
          
          //Variables values
          i = $(this).data('slick-index');
          
          if ($('#carousel5').slick('slickCurrentSlide') !== i) {
            $('#carousel5').slick('slickGoTo', i);
          }
        });
        
        // Initialization of HSHeader component
        $.HSCore.components.HSHeader.init($('#js-header'));
        
        // initialiation of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        
        $('#carouselCus1').slick('setOption', 'responsive', [{
          breakpoint: 1350,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 1200,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 670,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 500,
          settings: {
            slidesToShow: 1
          }
        }], true);
        
        $('#carousel5').slick('setOption', 'responsive', [{
          breakpoint: 768,
          settings: {
            slidesToShow: 3
          }
        }, {
          breakpoint: 554,
          settings: {
            slidesToShow: 1
          }
        }], true);
      });
    </script>
  </body>
</html>
