//
// Variables and Mixins
//
@import "variables.op-accounting";
@import "../../../../assets/include/scss/unify";

/* Typography */
body,
p {
  line-height: 1.6em;
  font-size: 13px;
  color: $g-color-gray-dark-v5;
}

::-moz-selection {
  background-color: $g-color-primary;
}

::selection {
  background-color: $g-color-primary;
}

a {
  color: $g-color-primary;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $g-color-gray-dark-v1;
}

/* Hamburger */
.hamburger {
  padding: 0;
}

.hamburger-box,
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 25px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  .light-theme & {
    background-color: $g-color-white;
  }
}

.hamburger-box {
  height: 17px;
}

.hamburger--slider .hamburger-inner {
  top: 0;
}

.hamburger--slider .hamburger-inner:before {
  top: 8px;
}

.hamburger--slider .hamburger-inner:after {
  top: 16px;
}

.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}

/* Main navigation */
.navbar-nav {
  .nav-item .nav-link {
    color: $g-theme-color-gray-dark-v5;
  }

  .nav-item .nav-link:hover,
  .nav-item.active .nav-link {
    color: $g-color-primary;
  }
}

/* Background */
.g-theme-bg-gray-dark-v1 {
  background-color: $g-theme-color-gray-dark-v1;
}

.g-theme-bg-gray-dark-v3 {
  background-color: $g-theme-color-gray-dark-v3;
}

.g-theme-bg-gray-dark-v4 {
  background-color: $g-theme-color-gray-dark-v4;

  &--hover:hover {
    background-color: $g-theme-color-gray-dark-v4 !important;
  }
}

.g-theme-bg-gray-light-v2 {
  background-color: $g-theme-color-gray-light-v2;
}

.g-parent:hover {
  .g-theme-bg-gray-dark-v4--parent-hover {
    background-color: $g-theme-color-gray-dark-v4 !important;
  }
}

/* Border */
.g-theme-brd-gray-light-v1 {
  border-color: $g-theme-color-gray-light-v1 !important;
}

.g-theme-brd-gray-dark-v2 {
  border-color: $g-theme-color-gray-dark-v2 !important;
}

.g-theme-brd-gray-dark-v6 {
  border-color: $g-theme-color-gray-dark-v6 !important;
}

/* Button Primary */
.btn {
  font-family: $g-font-primary !important;
}

/* Carousel */
.u-carousel-indicators-v1 {
  li {
    &.slick-active {
      span {
        background-color: $g-color-primary;
      }
    }
  }
}

.u-carousel-indicators-v6 {
  &::before {
    border-bottom-color: $g-theme-color-gray-light-v1;
  }

  li {
    color: $g-color-gray-dark-v5;

    &.slick-active {
      color: $g-color-primary;

      span {
        border-color: $g-color-primary;
      }
    }
  }

  span {
    border-color: $g-theme-color-gray-light-v3;
  }

  strong {
    font-weight: 600;
  }
}

.u-carousel-indicators-v29 {
  display: block !important;

  li {
    &.slick-active {
      color: $g-color-primary;
      border-top-color: $g-color-primary;
    }
  }
}

@media (min-width: $g-md) {
  .u-carousel-indicators-v6 {
    span {
      border-color: $g-theme-color-gray-light-v1;
    }
  }
}
