<!DOCTYPE html>
<html lang="en">
    <% include ../head.ejs %>

  
  <body>
    <main>
      <% include ../header.ejs %>

      
      <br>
      <br>
      <br>

      <!-- Section Content -->
      <section id="contact" class=" g-color-gray-dark-v5 g-py-70">
        <div class="container g-max-width-770">
          <div class="u-heading-v8-2 g-mb-85">
            <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-color-gray-dark-v2 g-mb-25">名师团队</h2>
            <img class="img-fluid" src="/local_assets/course/a.png">
            <br><br><br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">K 老师
            </h3>
            
            <p>
              教育学硕士，英语专业八级，维多利亚大学CO-OP部门coordinator, 修改过上千份本科生简历和求职信，留学申请金牌文案。计算机学科申请全额奖学金导师。雅思托福培训独有方法，提倡“根本上提高英文能力才是得高分的关键” 
              <br><br>
              托福113分，雅思8.5高分得主 GRE 317 曾经辅导过北京四中高中生，首师大附中高中生，北京电影学院大学生托福考试，其中北四中高中生取得113分的好成绩。
              教学方法：结合备考经验技巧和考生的基础情况制定出有效的备考策略：第一阶段：打好基础，主攻单词，长难句，听力练习；第二阶段 四部分练题＋基础工训练； 第三阶段；巩固＋机经预测练习

            </p>
            <br><br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">X 老师
            </h3>
            
            <p>
              加拿大西蒙弗雷泽大学计算机硕士，研究生全额奖学金获得者，研究生期间专注计算机视觉和机器学习方向研究，曾担任Vision and Media Lab计算机视觉实验室研究助理，计算机系课程讲师，加拿大SAP软件开发员，日本国立情报研究所研究员，并拥有论文发表于EI国际顶级会议。
            </p>

            <br><br>
            <h3 class="text-uppercase g-font-weight-700 g-font-size-default g-color-black g-mb-15">L 老师
            </h3>
            
            <p>
            加拿大西蒙弗雷泽大学计算机硕士，商学硕士，研究生全额奖学金获得者，研究生期间专注基于视觉的机器人交互方向研究和技术商业化研究，曾担任Autonomy Lab机器人实验室研究助理，NCFRN加拿大自然科学与工程研究理事会野外机器人组织成员，并拥有论文发表于RSS，IROS和HRI等国际顶级学术会议。
            </p>
            
          </div>
        </div>

        

      </section>
      <!-- End Section Content -->
      
      <% include ../footer.ejs %>
    </main>
    
    <% include ../js.ejs %>
  </body>
</html>
